<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLibrary</title>
</head>
<body>
    Before
    <br>
    <%- body %>
    <!--  here the <%- body %> will import every single ejs file from our entire application and  -->
    <br>
    After
</body>
</html>